<h1><%= @movie.title %></h1>

<h4>Year: <%= @movie.year %></h4>

<%= link_to "Edit", edit_movie_path(@movie) %>
<%= button_to "Delete", movie_path(@movie), :method => :delete %>
<br><br>

<% @actors.each do |actor| %>
  <p><%= link_to "#{actor.name}", actor %></p>
<% end %>

<%= link_to "Back to movies", movies_path %>
